<form novalidate #contactForm="ngForm" class="contact-form" (ngSubmit)="contactForm.valid && sendContact(contactForm)">
  <div class="card clearfix-card">
    <div class="card-header">Thông tin phòng</div>
    <div class="card-block">
      <div class="row">
        <div class="form-group col-md-3 col-sm-6">
          <label class="col-form-label">
                      Phòng Ban: 
                      <span class="required">(*)</span>
                  </label>
          <div class="form-wrap">
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': phongBan?.errors?.required }" [(ngModel)]="contact.phongBan" name="phongBan" required #phongBan="ngModel" />
          </div>
        </div>
        <div class="form-group col-md-3 col-sm-6">
          <label class="col-form-label">
                      Ngày hỗ trợ: 
                      <span class="required">(*)</span>
                  </label>
          <div class="form-wrap">
            <input type="text" class="form-control"  [ngClass]="{ 'is-invalid': ngayHT?.errors?.required }" name="ngayHT" [(ngModel)]="contact.ngayHT" required #ngayHT="ngModel"
            />
          </div>
        </div>
        <div class="form-group col-md-3 col-sm-6">
          <label class="col-form-label">
            Tên nhân viên/CTV: 
                      <span class="required">(*)</span>
              </label>
          <div class="form-wrap">
              <select class="form-control"  [ngClass]="{  'is-invalid': lineNoiBo?.errors?.required }" name="lineNoiBo" [(ngModel)]="contact.lineNoiBo" required #lineNoiBo="ngModel">
                  <option *ngFor="let line of lines" [ngValue]="line">{{line.text}}</option>
              </select>
          </div>
        </div>
        <div class="form-group col-md-3 col-sm-6">
          <label class="col-form-label">
                      Kênh hỗ trợ: 
					  <span class="required">(*)</span>
                  </label>
          <div class="form-wrap">
            <select class="form-control" name="kenhHoTro" [(ngModel)]="contact.kenhHoTro" #kenhHoTro="ngModel" required [ngClass]="{  'is-invalid': kenhHoTro?.errors?.required }">
                          <option *ngFor="let kenh of kenhs" [ngValue]="kenh">{{kenh.value}}: {{kenh.text}}</option>
                      </select>
          </div>
        </div>
        <div class="form-group col-md-3 col-sm-6">
          <label class="col-form-label">
                      Ca làm việc: 
                      <span class="required">(*)</span>
                  </label>
          <div class="form-wrap">
            <select class="form-control" [ngClass]="{  'is-invalid': caLamViec?.errors?.required }" name="caLamViec" [(ngModel)]="contact.caLamViec" required #caLamViec="ngModel">
                          <option *ngFor="let calv of caLVs" [ngValue]="calv">{{calv.value}}</option>
                      </select>
          </div>
        </div>
        <div class="form-group col-md-3 col-sm-6">
          <label class="col-form-label">
                      Lĩnh vực hỗ trợ: 
                      <span class="required">(*)</span>
                  </label>
          <div class="form-wrap">
            <select class="form-control" [ngClass]="{  'is-invalid': linhVucHT?.errors?.required }" name="linhVucHT" [(ngModel)]="contact.linhVucHT" required #linhVucHT="ngModel">
                          <option *ngFor="let linhVucHT of linhVucHTs" [ngValue]="linhVucHT">{{linhVucHT.value}}</option>
                      </select>
          </div>
        </div>
		<div class="form-group col-md-3 col-sm-6">
          <label class="col-form-label">
                      Hình thức hỗ trợ: 
                      <span class="required">(*)</span>
                  </label>
          <div class="form-wrap">
            <select class="form-control" [ngClass]="{  'is-invalid': hinhThucHT?.errors?.required }" name="hinhThucHT" [(ngModel)]="contact.hinhThucHT" required #hinhThucHT="ngModel">
                          <option *ngFor="let hinhThucHT of hinhThucHTs" [ngValue]="hinhThucHT">{{hinhThucHT.value}}</option>
                      </select>
          </div>
        </div>
        <div class="form-group col-md-3 col-sm-6">
          <label class="col-form-label">
                      Tình trạng: 
                      <span class="required">(*)</span>
                  </label>
          <div class="form-wrap">
            <select class="form-control" [ngClass]="{  'is-invalid': tinhTrangXL?.errors?.required }" name="tinhTrangXL" [(ngModel)]="contact.tinhTrangXL" required #tinhTrangXL="ngModel">
                          <option *ngFor="let tinhTrangXL of tinhTrangs" [ngValue]="tinhTrangXL">{{tinhTrangXL.value}}</option>
                      </select>
          </div>
        </div>
      </div>
    </div>
  </div>   

  <div class="card clearfix-card">
    <div class="card-header">Thông tin Công Ty</div>
    <div class="card-block">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <label class="col-form-label">
                          Mã số thuế / Mã đơn vị:  
                          <span class="required">(*)</span>
                      </label>
            <div class="form-wrap">
              <input type="text" class="form-control" [ngClass]="{ 'is-invalid': maSoThue?.errors?.required  }" name="maSoThue" [(ngModel)]="contact.maSoThue" required #maSoThue="ngModel" />
            </div>
          </div>
          <div class="form-group" >
            <label class="col-form-label">
                          Nội dung hỗ trợ: 
                          <span class="required">(*)</span>
                      </label>
            <div class="form-wrap">
              <input type="text" class="form-control"[ngClass]="{ 'is-invalid': noiDungHT?.errors?.required }" name="noiDungHT" [(ngModel)]="contact.noiDungHT" required #noiDungHT="ngModel" />
            </div>
          </div>
          <div class="form-group">
              <label class="col-form-label">
                Số điện thoại:
                <span class="required">(*)</span> 
              </label>
              <div class="form-wrap">
                <input type="text" class="form-control" name="soDienThoai" [(ngModel)]="contact.soDienThoai" required [ngClass]="{ 'is-invalid': soDienThoai?.errors?.required }" #soDienThoai="ngModel"/>
              </div>
            </div>     
              <div class="form-group" >
                <label class="col-form-label">
                              E-mail: 
                          </label>
                <div class="form-wrap">
                  <input type="email" class="form-control" name="email" [(ngModel)]="contact.email" #email="ngModel" />
                </div>
              </div>     
        </div>
        <div class="col-md-6 col-sm-6">              
          <div class="form-group">
            <label class="col-form-label">Nội dung Copy: </label>
            <div class="form-wrap">
              <textarea class="form-control" name="resultLog" [(ngModel)]="resultLog" style="height: 246px;"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">  
	<div class="col-md-10">
		<button class="btn btn-primary" type="submit" [disabled]="contactForm.invalid || contactForm.value.resultLog != ''" >Gửi</button>		
		<button class="btn btn-primary" type="button" [disabled]="contactForm.value.resultLog == ''" (click)="resetForm()" #btnReset>Nhập Lại</button>
		<a href="{{urlSheet}}" target="_blank">Link Google Sheet</a>
	  </div>  
  </div>  
</form>